*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# intellij
*.iml
*.ipr
*.iws
.idea/

#data
src/data/1
src/data/2
src/data/3
src/data/4
src/data/movie.mov
